<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Look for Jobs</h1>
    <form method="get">
        {{form.as_p }}
        <button type="submit"></button>
    </form>
    {% for job in jobs %}
        <p> {{ job.title}} </p>
        {% if user.is_authenticated and user.role == "seeker" %}
        <form method="post" action="{% url 'apply_to_job' job.id %}">
            {% csrf_token %}
            <textarea name="note" placeholder="Optional note"></textarea>
            <button type="submit">Apply</button>
        </form>
        {% endif %}
    {% endfor %}
</body>
</html>